#input-search-products::placeholder {
    background-image: url(images/magnifying_glass.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    /* Extra Styling */
    transition: 0.3s;
}

#input-search-products {
    border: 0.5px solid rgba(64, 65, 70, 1);
    border-radius: 25px;
    width: 70%;
}

.navbar {
    margin: 1rem 0 !important;
    background: rgba(255, 255, 255, 1);
}

.navbar-brand span {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
    margin-left: 1rem;
}

.nav-link {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
}

.left-navbar-custom {
    width: 60%;
}

.active {
    color: #007bff;
}

.right-navbar-custom {
    width: 40%;
}

.navbar-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.line {
    width: 80%;
    margin: 0 auto;
    border: 0.5px solid #B9B8BB;
}

.header-content {
    background-image: url(images/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-title {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    width: 85%;
}

.header-des {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    margin: 2rem 0;
}

.header-button {
    line-height: 3rem;
}

.btn-shop-now {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    width: 32%;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(7, 160, 129, 1);
    border: 1px solid rgba(7, 160, 129, 1);
    border-radius: 13px;
    color: rgba(255, 255, 255, 1);
}

.header-image {
    margin: 3rem 0;
}

.product-title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 1);
}

.product-sub-title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
    margin: 1rem 0;
}

.product-species {
    background-image: url(images/species-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.species-name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(62, 62, 62, 1);
    width: 50%;
}

.all-pet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.card {
    flex: 0 0 23%;
    max-width: 23%;
    border: none !important;
}

.pet-image {
    background-image: url(images/pet-example.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
    transition: transform .5s;
}

.pet-image:hover {
    transform: scale(1.2);
}

.pet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
}

.pet-name {
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
}

.pet-des {
    font-family: Lato;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
}

.pet-price span {
    font-family: Lato;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(64, 65, 70, 1);
}

.original-price {
    text-decoration: line-through;
}

.discount-sticker {
    background: rgba(255, 60, 60, 1);
    width: 15%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.contact-content {
    background-image: url(images/contact-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    margin: 5rem 0 2rem 0;
}

.contact-email {
    font-family: Lato;
    font-size: 31px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    margin: 2rem 0 5rem 0;
}

.btn-contact {
    background: rgba(7, 160, 129, 1);
    border: 1px solid rgba(7, 160, 129, 1);
    line-height: 2.2;
    width: 10%;
}

#inp-contact-email {
    display: inline-block;
    width: 50%;
}

.shop-now-content {
    background-image: url(images/shopnow-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.shop-now-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.btn-shop-now-white {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    width: 13%;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    color: rgba(84, 84, 84, 1);
}

.discount-buy-now-content {
    background-image: url(images/discount-buy-now.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.discount-buy-now-button {
    margin-top: 25rem;
}

.discount-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    margin-bottom: 2rem;
}

.policies {
    margin-top: 2rem;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.footer-content {
    background: rgba(246, 246, 246, 1);
}

.footer-title {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(84, 84, 84, 1);
}

.footer-item {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    width: 100%;
    display: block;
    margin: 1rem 0;
}

.full-line {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid #B9B8BB;
}

.footer-other div {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(130, 130, 130, 1);
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
